<table class="table">
  <thead>
    <tr>
      <th><h4>Chilaquiles</h4></th>
      <th><h4>Tacos</h4></th>
      <th><h4>Molletes</h4></th>
      <th><h4>Hamburguesas</h4></th>
      <th><h4>Coca-Cola</h4></th>
      <th><h4>Naranjada</h4></th>
      <th><h4>Agua</h4></th>
      <th><h4>Cerveza</h4></th>
      <th><h4>Total</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of pedidos">
      <th>{{item.numchilaquiles}}</th>
      <th>{{item.numtacos}}</th>
      <th>{{item.nummolletes}}</th>
      <th>{{item.numhamburguesa}}</th>
      <th>{{item.numcoca}}</th>
      <th>{{item.numnaranjada}}</th>
      <th>{{item.numagua}}</th>
      <th>{{item.numcerveza}}</th>
      <th>
        ${{item.total}}
        <button (click)="borrar(item.id);">Borrar Orden</button>
      </th>
    </tr>
  </tbody>
</table>
