<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Prueba</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	<link rel="stylesheet" type = "text/css" href="./stylesheets/app.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>    <h1>Inicio de Sesión</h1>  
<form>

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <!-- <button type="submit">Login</button>-->
    <a href="menu.html">Submit</a>
    <input type="checkbox" checked="checked"> Remember me
  </div>
</form>

	<script src="js/bundle.js"></script>
	<scrpit src="js/bootstrap.js"></script>
	</body>
</html>