<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Prueba</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	<link rel="stylesheet" type = "text/css" href="./stylesheets/app.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body><div class="linea">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="menu.html">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mesas.html">Mesas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="reservaciones.html">Reservaciones</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
 </div><div id="wrapper"> 
<div id="container"> 

    <h1>Mesa Detalles</h1>  
    <h2>Reservación 45</h2>  


<div class= "row">

	<div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button tablink w3-blue" onclick="openCity(event,'comida')">Comida</button>   
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'bebida')">Bebida</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'extras')">Extras</
     </div>
    <div id="comida" class="w3-container w3-border city">
    <h2>Menú de Comida</h2>
    <h3> Alitas</h3>
    <input type="text" placeholder="Cantidad" required>
    <h3> Hamburguesa</h3>
    <input type="text" placeholder="Cantidad" required>
  </div>
  <div id="bebida" class="w3-container w3-border city">
    <h2>Menú de Comida</h2>
    <h3> Fanta</h3>
    <input type="text" placeholder="Cantidad" required>
    <h3> Coca Cola</h3>
    <input type="text" placeholder="Cantidad" required>
  </div>
</div>
</div>
</div>
<script>
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace("w3-blue", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-blue";
}
</script>
	<script src="js/bundle.js"></script>
	<script src="js/bootstrap.js"></script>
	</body>
</html>

