{{> header }}
<div id="wrapper">
    <h1 id="alfredo">Inicio de Sesión</h1>  
<form>

  <div class="container">
  <img class="centro" src="https://vignette2.wikia.nocookie.net/clubpenguin/images/1/1c/Micr%C3%B3fono_icono.png/revision/latest?cb=20140705014018&path-prefix=es" alt=""><br><br><br><br>
    <div class="centro">
    <div class= "input-group centro">
    <label><b>Username</b></label>
    <input type="text" class="form-control" placeholder="Enter Username" name="uname" required>
    </div>
    <div class= "input-group centro">
    <label><b>Password</b></label>  
    <input type="password" class="form-control" placeholder="Enter Password" name="psw" required>
    </div>
    <a href="menu.html">Submit</a>
    <input type="checkbox" checked="checked"> Remember me
 </div>
  </div>
</form>
</div>
{{> footer }}