{{> header }}  
    
<div class= "container">
    <a href="index.html" class="nav-link active" id="cerss">Cerrar Sesion</a>

<nav class= "nav">

 <a href="reservaciones.html" class="nav-link active">Reservaciones</a>
 <a href="mesas.html" class="nav-link active">Mesas</a>
 <a href="historial.html" class="nav-link active">Historial</a>
</nav>
</div>

{{> footer }}