{{> header }}
<div id="wrapper">  
{{> men }} 
<form>

  <div class="container">
    <h1>Mesas</h1>
    <table id="" class="table table-inverse table-striped table-bordered table-hover table-responsive">
			<thead>
				<tr class="table-active">
					<th>Mesa</th>
					<th>Estatus</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-secondary table-active">
					<td class="calificacion parametro"><a href= "mesa.html">Mesa 1</a></td>
					<td class="calificacion parametro">Disponible</td>
				</tr>
				<tr class="table-secondary table-active">
					<td class="calificacion parametro">Mesa 2</td>
					<td class="calificacion parametro">Ocupada</td>
				</tr>
				<tr class="table-secondary table-active">
					<td class="calificacion parametro">Mesa 3</td>
					<td class="calificacion parametro">Ocupada</td>
				</tr>
			</tbody>
		</table>
  </div>
</form>
</div>
{{> footer }}