{{> header }}  
<div id="wrapper">
{{> men}}
<div class="container">
    <h1>Reservación 45</h1>  

<div class=container>
  <div class="table">
    <h2><b>Nombre: </b></h2>
    <h3> Alfredo Puente</h3>
  </div>
  <div class="nav">
    <h2><b>Fecha: </b></h2>
    <h3> 19:30</h3>
  </div>
  <div class="nav">
    <h2><b>Acompañantes: </b></h2>
    <h3> 5</h3>
  </div>
  </div>
  </div>
  </div>
{{> footer }}