{{> header }}  
{{> men }} 
<div id="wrapper">
    <h1>Reservaciones</h1>  
<form>
	
	<div class="input-group">
  		<span class="input-group-addon" id="basic-addon1">Nombre</span>
  		<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
	</div>
	</br>
	<div class="input-group">
  		<span class="input-group-addon" id="basic-addon1">Fecha</span>
  		<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
	</div>
	</br>
	<div class="input-group">
  		<span class="input-group-addon" id="basic-addon1">Hora</span>
  		<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
	</div>
	</br>
	<ul class="list-group">
  		 <a href="reservacion.html" class="list-group-item list-group-item-action">Reservación de Pedro</a>
  		<li class="list-group-item">Reservación de María</li>
  		<li class="list-group-item">Reservación de Tomás</li>
  		<li class="list-group-item">Reservación de Karla</li>
  		<li class="list-group-item">Reservación de Miguel</li>
	</ul>
  
</form>
</div>
{{> footer }}